@{
    ViewData["Title"] = "About";
}
<div class="col-md-offset-4">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
    <p>Use this area to provide additional information for excemple only.</p>
</div>
