@{
    ViewData["Title"] = "Contact";
}
<div class="col-md-offset-4">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
    <address>
        Country Thailand <br />
        <abbr title="FB">FB:</abbr> Sitiwat.Suananpornpanit

    </address>
    <address>
        <strong>Support:</strong> <a href="mailto:s2win@live.com">s2win@live.com</a><br />
    </address>
</div>>
