
@{
    ViewData["Title"] = "_SignOn";
}
<style>
    .centered-form {
        margin-top: 60px;
    }

        .centered-form .panel {
            background: rgba(255, 255, 255, 0.8);
            box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
        }

    label.label-floatlabel {
        font-weight: bold;
        color: #46b8da;
        font-size: 11px;
    }
</style>
<div class="container">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Sign on form</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div class="form-group right">
                                <label>Email: </label>
                            </div>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9">
                            <div class="form-group">
                                <input type="text" id="txemail" class="form-control input-sm" placeholder="Email Address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <div class="form-group right">
                                <label>Password: </label>
                            </div>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-9">
                            <div class="form-group">
                                <input type="password" id="txpassword" class="form-control input-sm" placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <input type="button" value="Sign On" onclick="signon();" class="btn btn-info btn-block">
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_Copyright")
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    var signon = function () {
            var result = $('div[id="maincontent"]');
            result.html('');
            /**/debugger;
            var email = $('input[id=txemail]').val();
            var sword = $('input[id=txpassword]').val();
            
            $.ajax({
                url: '@Url.Action("SignIn", "Authentication")',
                type: "POST",
                headers: 'Token',
                cache: false,
                data: {
                    email: email,
                    sword: sword
                },
                traditional: true,
                success: function (data) {
                    result.html(data)
                 },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                }
            });
         };
</script>